.input-group-addon.primary {
    background-color: #0069d9;
    border-color: #0062cc;
}

.fa {
  color : #fff;
}

.tooltip {
  white-space: pre;
}

.header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.header-h1 {
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 45px;
  text-shadow: 2px 2px 4px #000000;
  color: #fff;
}

.header-h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 60px;
  text-shadow: 2px 2px 4px #000000;
  color: #fff;
}

.table-hourly-div {
  padding: 6px;
  width:100%;
  border: 3px solid white;
  border-collapse: separate;
  border-radius: 15px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.table-hourly {
  width: 100%;
}

.table-hourly-td {
  text-align: center;
  padding: 6px;
  padding-top: 7px;
  padding-bottom: 8px;
  font-size: 1.1rem;
  text-shadow: 2px 2px 4px #000000;
}

.table-daily-div {
  margin: auto;
  margin-top: 20px;
}

.table-daily {
  height: auto;
  border: 3px solid white;
  border-collapse: separate;
  border-radius: 15px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.table-daily-td {
  padding: 8px;
  font-size: 1rem;
  text-shadow: 2px 2px 4px #000000;
}

.col-sm-12, .col-md-6, .col-lg-4 {
  text-align: center;
}

.center-col{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}


.description {
  border: 3px solid white;
  font-size: 1.1rem;
  text-shadow: 2px 2px 4px #000000;
  border-radius: 15px;
  color: white;
  padding: 9px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);

}

.weather-details {
  border: 3px solid white;
  border-radius: 15px;
  color: white;
  padding: 8px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-size: 1.1rem;
  text-shadow: 2px 2px 4px #000000;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}



.weather-charts-buttons {
  margin-top: 20px;
}

.button-chart {
  margin-left: 3px;
  margin-right: 3px;
  font-size: 1.1rem;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}


.minTempDaily {
  color: #bfbfbf;
}

.error-h1 {
  color: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 2.0rem;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

.error-center {
  display:flex;
  justify-content:center;
  align-items:center;
  height: calc(100vh - 38px);
}

.error-img {
  display:flex;
  justify-content:center;
  align-items:center;
}

/* ############ MEDIA ############ */

@media screen and (max-width: 1350px) {
  .weather-details {
    white-space: nowrap;
  }

  .weather-charts {
    margin-top: 45px;
  }
}
